/* portfolio_sub_store/b_smartphone.css */

@media screen and (max-width:767px) {
  #wrap {
    width:100%; min-width:320px; max-width: 767px;
    height:auto;
  }
  
  /* #headBox --------------------------------------------------------------- */
  #headBox{ width:100%; height:60px; }
  
  #headBox > .logo {
    position: absolute; top: 0; left: 0; right: 0;
    width:9%; height:60px; margin:auto;
    background-image: url("../../img/salady/salady_logo.png");
    background-repeat: no-repeat; background-position: center;
    background-size: contain;
  }
  .logo a{ display: block; width: 100%; height: 100%;}

  #naviBox {
    float:left;
    width:10%; height:60px;
    padding:0.5rem;
    box-sizing: border-box;
  }
  
  .gnb_btn{
    position: relative; z-index: 100;
    width: 100%; height: 100%;
  }
  .gnb_btn button { width: 100%; height: 100%; }
  .line {
    display: block; position: absolute;
    width: 100%; height: 2px; margin:auto;
    background-color: #171717;
    transition:all 300ms linear;
  }
  .line1 { transform:translateY(-0.8rem); }
  .line3 { transform: translateY(0.8rem); }

  .navigation {
    display: none;
    position: fixed;
    width:100%; height: 100%;
    top:0; left:0;
    padding:1rem; padding-top:4rem; box-sizing: border-box;
    background-color: #fff;
  }
  .navigation ul {
    width: 100%; height: 100%;
    padding:0.5rem;
    box-sizing: border-box;
  }
  .navigation li {
    font-weight: 600;
    padding:1rem; 
    border-bottom: 1px solid #777;
    box-sizing: border-box;
  }
  
  .navigation a:hover { color: #207D3E; }
  .navigation a:focus { outline:0; color: #207D3E;}
  
  /* #innerBox --------------------------------------------------------------- */
  #innerBox{
    width:100%; height:auto;
    margin:auto;
  }
  
  #innerBox h3 {
    font-size:3rem; font-weight:500;
    text-align: center;
    text-transform:uppercase; 
    line-height: 400px;
  }
  
  .inner_title {
    width:100%;height:400px;
    margin:auto;
    background-image: url("../../img/salady/store.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  
  /* #linkBox ------------------------------------------------------------ */
  #linkBox{
    width:100%; height:200px;
    margin-top:100px;
  }
  #linkBox h2 { 
    text-align: center; 
    font-size: 1.2rem; font-weight:400;
    text-transform:capitalize;
  }
  
  .area_search {
    float:left;
    width:65px; height:30px;
    margin:auto; margin-left:5%;
    margin-top:50px;
    padding-top:0.5rem;
    font-size: 0.7rem; text-align: center;
    border:1px solid #333333;
    box-sizing: border-box;
  }
  
  .store_search {
    float:left;
    width:145px; height:30px;
    margin-top:50px;  margin-left:5%;
    border:1px solid #333333;
  }
  
  .store_search input {
    float:left;
    width:100%; height:30px;
  }
  .store_search input::placeholder { font-size: 0.6rem; }
  
  .btn_search {
    float:left;
    width:40px; height:30px;
    margin-top:50px;  margin-left:5%;
    border:1px solid #333333;
  }
  
  .btn_search > button {
    width:100%; height:30px;
    font-size: 0.8rem; text-align:center;
  }
  
  /* #storeBox ------------------------------------------------------ */
  #storeBox {
    width:100%; height:auto;
    margin-top:10px;
  }
  
  .store_list_01 {
    width:90%; height:200px;
    margin:auto; 
    border-top: 0.5px solid #808080;
  }
  .store_list_02 {
    width:90%; height:200px;
    margin:auto; margin-top:50px;
    border-top: 0.5px solid #808080;
  }
  .store_list_03 {
    width:90%; height:200px;
    margin:auto; margin-top:50px;
    border-top: 0.5px solid #808080;
  }
  
  .store_img > img { width:0; height:0; overflow: hidden;  }
  
  .store_text {
    width:100%; height:auto;
    margin:auto;
  }
  .store_text h4 { 
    text-align: center;
    font-size:1rem;
    margin-top:10px;
  }
  
  .store_text ul { width:100%; height:auto; margin-top:10px; }
  .store_text li {
    float: left;
    width:100%; height:auto;
    padding:0.5rem;
    font-size: 0.7rem;
    box-sizing: border-box;
  }
  
  .store_text li > img {
    float:left;
    margin-right:10px;
  }
  
  /* ------------------------- */
  .store_btn {
    float: left;
    width:100%; height:auto;
    margin-top:20px;
    text-align: center;
  }
  .store_view {
    width:30%; height:30px;
    margin:auto;
    border:1px solid #333333;
  }
  .store_view > a {
    font-size:0.7rem;
    text-align: center;
  }
  .store_btn > button a:hover { font-weight:700; }
  .store_btn > button a:focus { font-weight:700; }
  
  /* #sideBox ----------------------------------------- */
  #sideBox {
    position: fixed;
    width:3%; height:50px; min-height: 70px;
    bottom:100px; left:50%; margin-left:45%;
  }
  
  .top_btn {
    position: absolute;
    left:0; top:100%;
    width:100%; height:30px;
  }
  
  .top_btn a {
    display: block;
    width:100%; height:30px;
    margin-top:40px; font-size: 0;
    background-image: url("../../img/salady/top.png");
    background-repeat: no-repeat; background-position: center; 
    background-size: contain;
  }
  
  
  /* #footBox ----------------------------------------------- */
  #footBox {
    width:100%; height:auto;
    margin-top:150px;
    border-top: 0.5px solid #808080;
    background-color: #fff;
  }
  
  #footBox > .logo {
    width:50px; height:50px;
    margin:auto; margin-top: 20px;
    background-image: url("../../img/salady/salady_logo.png");
    background-repeat: no-repeat;
    background-position: center;  background-size: contain;
  }
  
  .company_info ul {
    width:90%; height:150px; 
    margin:auto; margin-top: 30px;
    box-sizing:border-box;
  }
  
  .company_info li {
    width:100%; height: auto;
    font-size: 0.6rem;
    text-align: center; line-height:30px; 
  }
  
  .info_06 {
    margin-top:30px;
    line-height: 70px;
    text-transform: uppercase;
  }
  
  .sns {
    width:0; height:0;
    overflow:hidden;
  }
}