/* b_smartphone.css */

/* μ¤λ§νΈν°(max-width:767px) */
@media screen and (max-width:767px) {
  #wrap {
    position: relative;
    width:100%; min-width:320px; max-width: 767px;
    height:auto;
  }
  
  /* #headBox --------------------------------------------------------------- */
  #headBox{ width:100%; height:auto; }
  
  #headBox > .logo {
    position: absolute; top: 0; left: 0; right: 0;
    width:9%; height:48px; margin:auto;
    background-image: url("../../img/salady/salady_logo.png");
    background-repeat: no-repeat; background-position: center;
    background-size: contain;
  }
  .logo a{ display: block; width: 100%; height: 100%;}

  #naviBox {
    float:left;
    width:10%; height:50px;
    padding:0.5rem;
    box-sizing: border-box;
  }
  
  .gnb_btn{
    position: relative; z-index: 100;
    width: 100%; height: 100%;
  }
  .gnb_btn button { width: 100%; height: 100%; }
  .line {
    display: block; position: absolute;
    width: 100%; height: 2px; margin:auto;
    background-color: #171717;
    transition:all 300ms linear;
  }
  .line1 { transform:translateY(-0.8rem); }
  .line3 { transform: translateY(0.8rem); }

  .navigation {
    display: none;
    position: fixed;
    width:100%; height: 100%;
    top:0; left:0;
    padding:1rem; padding-top:4rem; box-sizing: border-box;
    background-color: #fff;
  }
  .navigation ul {
    width: 100%; height: 100%;
    padding:0.5rem;
    box-sizing: border-box;
  }
  .navigation li {
    font-weight: 600;
    padding:1rem; 
    border-bottom: 1px solid #777;
    box-sizing: border-box;
  }
  
  .navigation a:hover { color: #207D3E; }
  .navigation a:focus { outline:0; color: #207D3E;}
  
  
  /* #promotionBox -------------------------------------------------------- */
  #promotionBox {  width:100%; height:auto; max-width:767px; }
  
  .pro_banner_01 {
    position: relative;
    width:100%; height:200px;
  }
  
  .pro_view { overflow: hidden;  width:100%; height:200px; }
  
  .pro_view ul { width:300%; height:100%; margin:auto; }
  .pro_view li {
    float:left;
    width:calc(100% / 3); height:100%;
    box-sizing: border-box;
    font-size:20px;
    color:#fff;
  }
  
  .button {
    position: absolute;
    width:100%; height:40px; 
    margin:auto;
    left:0; right:0; bottom:0;
    text-align: center;
  }
  
  .button ul {
    display: inline-block;
    width:auto; height:auto;
    border-radius:50px;
  }
  
  .button ul li {
    display:inline-block;
    width:20px; height:8px;
    margin:auto;
    margin-top:20px; margin-right:10px;
  }
  .button li a {
    display: block;
    width:90%; height:100%;
    background-color: #fff;
    border-radius:3px;
    border-bottom:2px solid #808080;
    box-sizing: border-box;
  }
  
  .button li.act { border-radius:3px;  box-shadow: 2px 1px 1px #808080; }
  .button li.act a { width:20px; height:8px;  background-color: #e6e6e6; }
  .button a:hover { box-shadow:1px 2px 2px #808080;}
  .button a:focus { outline:0;  box-shadow:1px 2px 2px #808080;}

  .pro_btn {
    position: absolute;
    width:100%; height:50px;
    top:45%;
  }
  .pro_btn button {
    width:15px; height:15px;
    margin-left:15px; margin-right:15px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
 .pro_next_btn { 
    float:right;
    background-image: url("../../img/salady/next.png");

  }
 .pro_prev_btn { 
    float: left;
    background-image: url("../../img/salady/prev.png");
  }

  #viewArea_01{
    background-image: url("../../img/salady/pro_01.png");
    background-color: #f1c856;
    background-repeat: no-repeat;  background-size:80% 100%;
    background-position:80% 0;
  }
  #viewArea_02{
    background-image: url("../../img/salady/pro_02.jpg");
    background-repeat: no-repeat;  background-size:100%;
    background-position:center;
  }
  #viewArea_03{
    background-image: url("../../img/salady/pro_03.png");
    background-repeat: no-repeat;  background-size: 60% 100%;
    background-color: #3F81C2;
    background-position: center;
  }
  
  /* #viewBox --------------------------------------------------------------- */
  #viewBox{
    position: relative;
    width: 100%; height:400px;
    margin:auto; margin-top: 100px;
    box-sizing: border-box;
  }
  
  #viewBox h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight:500;  font-size: 1.25rem;
    color:#000000;
  }
  
  #viewBox h3 { width:0; height:0; overflow:hidden; }
  
  .menu_btn {
    position: absolute;  z-index:100;
    width:auto; height:0;
    bottom:15rem; left:50px; right:20px;
  }
  .menu_btn button {
    width:50px; height:20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .menu_next_btn { 
    float:right;
    background-image: url("../../img/salady/circle_next.png");

  }
  .menu_prev_btn { 
    float: left;
    background-image: url("../../img/salady/circle_prev.png");
  }

  .plus_btn { width:0; height:0; overflow: hidden;}

  .menu_tab {
    overflow: hidden;
    width:100%; height:100%;
    box-sizing: border-box;
  }
  
  .menu_tab ul { width:900%; height:100%; }
  
  .menu_tab li {
    float:left; position: relative;
    width:calc(100% / 9); height:100%;
    margin-top:-50px;
    background-size: auto 30%;
    background-position:center;  background-repeat: no-repeat;
  }
  
  .menu_tab li > div {
    margin:auto; margin-top: 300px;
    font-size:13px;
    text-align: center; line-height:15px;
    text-transform: uppercase;
  }
  .menu_tab li > div > h4 { 
    font-size:15px;  font-weight:400;
    text-align: center;
  }

  .menu_tab li:nth-child(1) {background-image: url("../../img/salady/menu_01.png");}
  .menu_tab li:nth-child(2) {background-image: url("../../img/salady/menu_02.png");}
  .menu_tab li:nth-child(3) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(3) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(4) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(5) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(6) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(7) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(8) {background-image: url("../../img/salady/menu_03.png");}
  .menu_tab li:nth-child(9) {background-image: url("../../img/salady/menu_03.png");}

  
  /* #topicBox ----------------------------------------------------------- */
  #topicBox {
    width:100%; height:auto;
    box-sizing: border-box;
  }
  
  .topic_area { width:100%; height:100px; }
  
  .topic_area ul { width:100%; height:100%; }
  
  .topic_area li {
    float: left; 
    width:100%; height:100%;
    box-sizing: border-box;
  }
  
  .topic_area li > h4 {
    font-size: 1rem;
    margin-top:20px; margin-left:15%;
    line-height:30px; text-transform:capitalize;
    color:#B7550C;
  }
  .topic_area li > p { width:0; height:0; overflow: hidden; }
  
  .topic_01 {
    background-color: #FFF1C5;
    background-image: url("../../img/salady/topic_01.png");
    background-repeat: no-repeat;
    background-size:25%; background-position: 70% 50%;
    background-attachment:fixed;
  }

  /* #subviewBox ------------------------------------------------------------ */
  #subviewBox {
    width:100%; height:auto; 
    margin:auto; margin-top:100px;
  }
  #subviewBox h2 {
    text-align: center; text-transform: capitalize;
    font-size:1.25rem;
    font-weight: 400;
  }
  #subviewBox h3 { font-size: 0; }
  
  .event_list {
    width:100%; height:600px;
    margin-top:50px;
  }
  
  .event_list li {
    display: inline-block;
    width:43%; height:300px;
    margin:auto;
    margin-left: 30%;
  }
  
  .thum img { width:100%; height:200px; margin: auto; }
  
  .tt {
    width:80%; height:auto;
    margin:auto; padding:20px;
    text-align: left; text-transform: capitalize;
    font-size: 0.9rem; font-weight: 500;
    border-bottom: 1px solid #171717;
  }
  .tt img { float:right; width:7%; height:20%; margin-right: -10%; }

  .event_list li:last-child { width:0; height:0; overflow:hidden;}
  
  /* #linkBox ------------------------------------------------------------ */
  #linkBox{
    width:100%; height: 100px; margin-top:50px;
    padding-bottom:1rem; padding-top: 1rem;
    background-color: #e6e6e6;
  }
  
  #linkBox > h2 > img { width:0; height:0; overflow: hidden; }
  
  #linkBox > h2 {
    font-size: 1.25rem;  text-align: center;
    font-weight:400;
  }
  
  .area_search {width:0; height: 0; overflow: hidden;}
  
  .store_search {
    float:left;
    width:70%; height:30px; margin:auto;
    margin-top:40px;  margin-left:15%;
    background-color: #fff;
    border:1px solid #000000;
  }
  
  .store_search input {
    float:left;
    width:100%; height:30px;
    margin-left:10px;
  }
  .store_search input::placeholder { 
    font-size: 0.8rem; color:#000000; 
    background-image: url("../../img/salady/search.png");
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size:contain;
  }
  
  .btn_search {width:0; height: 0; overflow: hidden;}
  
  
  /* #sideBox ----------------------------------------- */
  #sideBox {
    position: fixed;
    width:40px; height:40px; min-height: 40px;
    bottom:150px; left:80%;
    box-sizing: border-box;
  }
  
  .top_btn {
    position: absolute;
    left:0; top:100%;
    width:100%; height:30px;
  }
  
  .top_btn a {
    display: block;
    width:100%; height:30px;
    margin-top:40px; font-size: 0;
    background-image: url("../../img/salady/top.png");
    background-repeat: no-repeat; background-position: center; 
    background-size: contain;
  }
  
  /* #footBox ----------------------------------------------- */
  #footBox {
    width:100%; height:auto;
    background-color: #fff;
    border-top: 0.5px solid #808080;
  }
  
  #footBox > .logo {
    width:50px; height:50px;
    margin:auto; margin-top: 20px;
    background-image: url("../../img/salady/salady_logo.png");
    background-repeat: no-repeat;
    background-position: center;  background-size: contain;
  }
  
  .company_info ul {
    width:90%; height:150px; 
    margin:auto; margin-top: 30px;
    box-sizing:border-box;
  }
  
  .company_info li {
    width:100%; height: auto;
    font-size: 0.6rem;
    text-align: center; line-height:30px; 
  }
  
  .info_06 {
    margin-top:30px;
    line-height: 70px;
    text-transform: uppercase;
  }
  
  .sns {
    width:0; height:0;
    overflow:hidden;
  }
}