/* css/src/portfolio_sub_menu.css */


#wrap {
  position: relative;
  width:100%; min-width:1600px; max-width: 1920px;
  height:auto;
}


/* #headBox --------------------------------------------------------------- */
#headBox{ width:100%; height:150px; background-color: #fff; }

#headBox > .logo {
  float:left;
  width:170px; height:150px;
  margin-left:150px; 
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.logo a { display: block; width:100%; height:100%; }

#naviBox {
  float:right;
  width:80%; height:150px;
}

.navigation ul { width:100%; height:150px; }

.navigation li {
  float:left;
  width:10%; height:30px;
  margin:auto;  
  margin-top: 60px;  margin-left: 80px;
  text-align: center;
}

.navigation li > a {
  font-size: 1.6rem;
  text-align: center;
  color:#000000; 
}

li:last-child { margin-right:0; }

.navigation a:hover { border-bottom:1.7px solid #000000; }
.navigation a:focus { outline:0; text-shadow:1px 1px 1px #808080;}

/* #innerBox --------------------------------------------------------------- */
#innerBox{
  width:100%; height:auto;
}

#innerBox h3 {
  font-size: 70px; font-weight:500;
  text-align: center;
  text-transform:uppercase; 
  line-height: 550px;
  color:#000000;
}

.inner_title {
  width:100%;height:600px;
  margin:auto;
  background-image: url("../../img/salady/inner_img.png");
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

/* #menuBox ----------------------------------------------------------------- */
#menuBox {
  width:100%; height:auto;
  margin:auto;
}

.menu_list {
  width:100%; height:100px;
  margin-top:100px;
}
.menu_list ul {
  width:50%; height:30px;
  margin:auto;
}

.menu_list li {
  float:left;
  width:25%; height:30px;
}

.menu_list li:last-child { margin-right: 0px;}

.menu_list li:after,
.menu_list li::after {
  content:""; display: block;
  width:1px; height:20px;
  transform:translateY(-100%);
  background-color: #aaa;
}
.menu_list li:first-child:after { width:0; height:0;}


.menu_list button {
  width:100%; height:100%; 
  font-size: 1.8rem; 
  text-align: center; text-transform:capitalize;
  box-sizing: border-box;
}

.menu_list li button:focus,
.menu_list li button:hover { color:#208653; font-weight: 500;}
/* ------------------------------------- */
.menu_img {
  width:100%; height:700px;
  overflow: hidden;
}

.bowl {
  display: block;
  width:100%; height:auto;
}

.bowl ul {
  width:100%; height:700px;
  margin:auto; margin-top: -50px;
}
.bowl li {
  float:left;
  width:20%; height:170px;
  margin:auto;
  margin-left:170px; margin-top: 120px;
  text-align: center;
  background-size:50%;
  background-repeat: no-repeat;  background-position: center;
}
.bowl_01 { background-image: url("../../img/salady/menu_01.png"); }
.bowl_02 { background-image: url("../../img/salady/menu_02.png"); }
.bowl_03 { background-image: url("../../img/salady/menu_03.png"); }
.bowl_04 { background-image: url("../../img/salady/menu_10.png"); }
.bowl_05 { background-image: url("../../img/salady/menu_11.png"); }

.bowl h3 { margin-top: 180px; }
.bowl p { text-transform: uppercase; }
/* ------------------------------ */
.sand {
  width:100%; height:auto;
}

.sand ul {
  width:100%; height:700px;
  margin:auto; margin-top: -50px;
}

.sand li {
  float:left;
  width:20%; height:170px;
  margin-left:170px; margin-top: 120px;
  text-align: center;
  background-size:50%;
  background-repeat: no-repeat;  background-position: center;
}
.sand_01 { background-image: url("../../img/salady/chicken_tomato.png"); }
.sand_02 { background-image: url("../../img/salady/egg_bacon.png"); }
.sand_03 { background-image: url("../../img/salady/shallot_salmon.png"); }


.sand h3 { margin-top: 180px; }
.sand p { text-transform: uppercase; }
/* ------------------------------ */
.salad {
  display: block;
  width:100%; height:auto;
}

.salad ul {
  width:100%; height:700px;
  margin:auto; margin-top: -50px;
}
.salad li {
  float:left;
  width:20%; height:170px;
  margin-left:170px; margin-top: 120px;
  text-align: center;
  background-size:50%;
  background-repeat: no-repeat;  background-position: center;
}
.salad_01 { background-image: url("../../img/salady/menu_01.png"); }
.salad_02 { background-image: url("../../img/salady/menu_02.png"); }
.salad_03 { background-image: url("../../img/salady/menu_03.png"); }
.salad_04 { background-image: url("../../img/salady/menu_04.png"); }
.salad_05 { background-image: url("../../img/salady/menu_05.png"); }
.salad_06 { background-image: url("../../img/salady/menu_06.png"); }

.salad h3 { margin-top: 180px; }
.salad p { text-transform: uppercase; }

.menu_img li:hover { background-size:52%;}
.menu_img a:hover { font-size:1.2rem; }
.menu_img a:focus { font-size:1.2rem; }


/* #sideBox ----------------------------------------- */
#sideBox {
  position: fixed;
  width:3%; height:50px; min-height: 70px;
  bottom:100px; left:95%;
}

.top_btn {
  position: absolute;
  left:0; top:100%;
  width:100%; height:30px;
}

.top_btn a {
  display: block;
  width:100%; height:30px;
  margin-top:40px; font-size: 0;
  background-image: url("../../img/salady/top.png");
  background-repeat: no-repeat; background-position: center; 
  background-size: contain;
}


 /* #footBox ----------------------------------------------- */
 #footBox {
  width:100%; height:auto;
  border-top: 1px solid #808080;
}

#footBox > .logo {
  float:left;
  width:150px; height:150px;
  margin:auto;  margin-left:15%; margin-top: 40px;
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat; background-position: center;
  background-size: 50%;
}

.company_info ul {
  float:left;
  width:40%; height:200px;
  margin-top:30px;  margin-left:10%;
}

.company_info li {
  font-size: 16px;
  line-height:30px; font-weight: 400;
  color:#000000;
}

.info_03 { float:left; margin:auto; }
.info_04 { float:left; margin-left:30px; }
.info_05 { margin-top:30px; }

.info_06 {
  margin-top:30px;
  line-height: 70px;
  text-transform: uppercase;
}

.sns {
  float:left;
  width:15%; height:auto;
  margin-top:90px;
}
.sns ul { width:100%; height:50px; }
.sns li {
  float:left;
  width:50px; height:50px;
  margin-left:30px;
  background-repeat: no-repeat;  background-position:center;
  background-size : 100%;
}
.sns li > a { display:block; width:100%; height:100%; }

.insta { background-image: url("../../img/salady/instagram.png"); }

.facebook { background-image: url("../../img/salady/facebook.png"); }

.blog { background-image: url("../../img/salady/blog.png"); }

