/* css/src/portfolio_sub_menu.css */


#wrap {
  position: relative;
  width:100%; min-width:1600px; max-width: 1920px;
  height:auto;
}


/* #headBox --------------------------------------------------------------- */
#headBox{ width:100%; height:150px; background-color: #fff; }

#headBox > .logo {
  float:left;
  width:170px; height:150px;
  margin-left:150px; 
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.logo a { display: block; width:100%; height:100%; }

#naviBox {
  float:right;
  width:80%; height:150px;
}

.navigation ul { width:100%; height:150px; }

.navigation li {
  float:left;
  width:10%; height:30px;
  margin:auto;  
  margin-top: 60px;  margin-left: 80px;
  text-align: center;
}

.navigation li > a {
  font-size: 1.6rem;
  text-align: center;
  color:#000000; 
}

li:last-child { margin-right:0; }

.navigation a:hover { color: #207D3E; }
.navigation a:focus { outline:0; color: #207D3E;}

/* #innerBox --------------------------------------------------------------- */
#innerBox{
  width:100%; height:auto;
}

#innerBox h3 {
  font-size: 70px; font-weight:500;
  text-align: center;
  text-transform:uppercase; 
  line-height: 550px;
  color:#000000;
}

.inner_title {
  width:100%;height:600px;
  margin:auto;
  background-image: url("../../img/salady/inner_img.png");
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

/* #menuBox ----------------------------------------------------------------- */
#menuBox {
  width:100%; height:auto;
  margin:auto;
}

.menu_list {
  width:100%; height:100px;
  margin-top:100px;
}
.menu_list ul {
  width:50%; height:50px;
  margin:auto;
  border:0.1rem solid #333;
}

.menu_list li {
  float:left;
  width:25%; height:50px;
}

.menu_list li:last-child { margin-right: 0px;}

.menu_list li:after,
.menu_list li::after {
  content:""; display: block;
  width:1px; height:50px;
  transform:translateY(-100%);
  background-color: #aaa;
}
.menu_list li:first-child:after { width:0; height:0;}


.menu_list button {
  width:100%; height:50px; 
  font-size: 1.3rem; 
  text-align: center; text-transform:capitalize;
  box-sizing: border-box;
}

.menu_list li button:focus,
.menu_list li button:hover { 
  background-color: #f6f6f6; 
  color:#207D3E; 
}
/* ------------------------------------- */
.menu_img { overflow: hidden; width:100%; height: 1000px; }

.menu_img > ul {
  width:100%; height:auto;
}
.menu_img ul > li {
  float:left;
  width:20%; height:170px;
  margin-left:170px; margin-top: 120px;
  text-align: center;
  background-size:50%;
  background-repeat: no-repeat;  background-position: center;
}
.menu_img h3 { margin-top: 180px; }
.menu_img p { text-transform: uppercase; }

.menu_img li:hover { background-size:52%;}
.menu_img a:hover { font-size:1.2rem; }
.menu_img a:focus { font-size:1.2rem; }

.bowl_01 { background-image: url("../../img/salady/sub_menu/bowl_01.png"); }
.bowl_02 { background-image: url("../../img/salady/sub_menu/bowl_02.png"); }
.bowl_03 { background-image: url("../../img/salady/sub_menu/bowl_03.png"); }
.bowl_04 { background-image: url("../../img/salady/sub_menu/bowl_04.png"); }
.bowl_05 { background-image: url("../../img/salady/sub_menu/bowl_05.png"); }
.bowl_06 { background-image: url("../../img/salady/sub_menu/bowl_06.png"); }
.bowl_07 { background-image: url("../../img/salady/sub_menu/bowl_07.png"); }
.bowl_08 { background-image: url("../../img/salady/sub_menu/bowl_08.png"); }
.bowl_09 { background-image: url("../../img/salady/sub_menu/bowl_09.png"); }
/* ------------------------------ */
.sand_01 { background-image: url("../../img/salady/sub_menu/sand_01.png"); }
.sand_02 { background-image: url("../../img/salady/sub_menu/sand_02.png"); }
.sand_03 { background-image: url("../../img/salady/sub_menu/sand_03.png"); }
/* ------------------------------ */
.salad_01 { background-image: url("../../img/salady/sub_menu/bowl_08.png"); }
.salad_02 { background-image: url("../../img/salady/sub_menu/bowl_02.png"); }
.salad_03 { background-image: url("../../img/salady/sub_menu/bowl_05.png"); }
.salad_04 { background-image: url("../../img/salady/sub_menu/bowl_09.png"); }
.salad_05 { background-image: url("../../img/salady/sub_menu/bowl_03.png"); }
.salad_06 { background-image: url("../../img/salady/sub_menu/bowl_04.png"); }
.salad_07 { background-image: url("../../img/salady/sub_menu/bowl_06.png"); }
/* ------------------------------ */
.wrap_01 { background-image: url("../../img/salady/sub_menu/wrap_01.png"); }
.wrap_02 { background-image: url("../../img/salady/sub_menu/wrap_02.png"); }
.wrap_03 { background-image: url("../../img/salady/sub_menu/wrap_03.png"); }
.wrap_04 { background-image: url("../../img/salady/sub_menu/wrap_04.png"); }
.wrap_05 { background-image: url("../../img/salady/sub_menu/wrap_05.png"); }
.wrap_06 { background-image: url("../../img/salady/sub_menu/wrap_06.png"); }
.wrap_07 { background-image: url("../../img/salady/sub_menu/wrap_07.png"); }
.wrap_08 { background-image: url("../../img/salady/sub_menu/wrap_08.png"); }

/* #sideBox ----------------------------------------- */
#sideBox {
  position: fixed;
  width:3%; height:50px; min-height: 70px;
  bottom:100px; left:95%;
}

.top_btn {
  position: absolute;
  left:0; top:100%;
  width:100%; height:30px;
}

.top_btn a {
  display: block;
  width:100%; height:30px;
  margin-top:40px; font-size: 0;
  background-image: url("../../img/salady/top.png");
  background-repeat: no-repeat; background-position: center; 
  background-size: contain;
}


 /* #footBox ----------------------------------------------- */
 #footBox {
  width:100%; height:auto;
  border-top: 1px solid #808080;
}

#footBox > .logo {
  float:left;
  width:150px; height:150px;
  margin:auto;  margin-left:15%; margin-top: 40px;
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat; background-position: center;
  background-size: 50%;
}

.company_info ul {
  float:left;
  width:40%; height:200px;
  margin-top:30px;  margin-left:10%;
}

.company_info li {
  font-size: 16px;
  line-height:30px; font-weight: 400;
  color:#000000;
}

.info_03 { float:left; margin:auto; }
.info_04 { float:left; margin-left:30px; }
.info_05 { margin-top:30px; }

.info_06 {
  margin-top:30px;
  line-height: 70px;
  text-transform: uppercase;
}

.sns {
  float:left;
  width:15%; height:auto;
  margin-top:90px;
}
.sns ul { width:100%; height:50px; }
.sns li {
  float:left;
  width:50px; height:50px;
  margin-left:30px;
  background-repeat: no-repeat;  background-position:center;
  background-size : 100%;
}
.sns li > a { display:block; width:100%; height:100%; }

.insta { background-image: url("../../img/salady/instagram.png"); }

.facebook { background-image: url("../../img/salady/facebook.png"); }

.blog { background-image: url("../../img/salady/blog.png"); }

