/* css/src/portfolio_sub_menu_06.css  */


/* #headBox --------------------------------------------------------------- */
#headBox{ width:100%; height:auto; }
  
#headBox > .logo {
  float:left;
  width:170px; height:150px;
  margin:auto; margin-left:150px; 
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.logo a { display: block; width:100%; height:100%; }

#naviBox {
  float:right;
  width:80%; height:150px;
  margin:auto;
}

.navigation ul { width:100%; height:150px; }

.navigation li {
  float:left;
  width:10%; height:30px;
  margin:auto;  
  margin-top: 60px;  margin-left: 80px;
  text-align: center;
}

.navigation li > a {
  font-size: 25.6px;
  text-align: center;
  color:#000000; 
}

li:last-child { margin-right:0; }

.navigation a:hover { color: #207D3E; }
.navigation a:focus { outline:0; color: #207D3E;}

/* #menu_view_01 ------------------------------------------------------- */
#menu_view_01 { width:100%; height:900px; background-color: #f8f8f8; }
.bowl_01 {
  float:left;
  width:50%; height:100%;
  background-image: url("../../img/salady/menu_10.png");
  background-repeat: no-repeat;
  background-size: 50% auto; background-position: center;
  box-sizing: border-box;
}

.menu_info {
  display: inline-block;
  width:20%; height:auto;
  margin-top: 100px; margin-left:100px;
  border-bottom: 2px solid #333333;
}
.menu_info > h3 {
  margin-left: 50px;
  font-size:1.5rem; font-weight:300;
  text-transform:lowercase;
}
.menu_info > h4 { 
  margin-left: 50px; 
  font-size:2.5rem; line-height: 70px;
  color:#17633D;
}
.menu_info > p { 
  margin-left: 55px; margin-bottom: 20px;
  font-size:1.2rem; line-height: 30px; 
}
/* --------------------- */
.menu_table {
  display: inline-block;
  width:350px; height:300px; margin-left:100px;
  margin-top: 50px; padding:1rem;
  background-color: #fff;
  border:1px solid #333;
}
.menu_table caption {
  width: 100%; height:auto; 
  font-size: 1.5rem; font-weight: 700;
  line-height: 60px; 
}
.menu_table tr th { 
  width: 100px; 
  font-size: 1.2rem; 
  text-align: left; line-height: 30px;  
}
.menu_table tr td { width: 100px;  font-size: 1.1rem; }

/* #sideBox ----------------------------------------- */
#sideBox {
  position: fixed;
  width:3%; height:50px; min-height: 70px;
  bottom:100px; left:95%;
}

.top_btn {
  position: absolute;
  left:0; top:100%;
  width:100%; height:30px;
}

.top_btn a {
  display: block;
  width:100%; height:30px;
  margin-top:40px; font-size: 0;
  background-image: url("../../img/salady/top.png");
  background-repeat: no-repeat; background-position: center; 
  background-size: contain;
}

 /* #footBox ----------------------------------------------- */
 #footBox {
  width:100%; height:auto;
  border-top: 1px solid #808080;
}

#footBox > .logo {
  float:left;
  width:150px; height:150px;
  margin:auto;  margin-left:15%; margin-top: 40px;
  background-image: url("../../img/salady/salady_logo.png");
  background-repeat: no-repeat; background-position: center;
  background-size: 50%;
}

.company_info ul {
  float:left;
  width:40%; height:200px;
  margin-top:30px;  margin-left:10%;
}

.company_info li {
  font-size: 16px;
  line-height:30px; font-weight: 400;
  color:#000000;
}

.info_03 { float:left; margin:auto; }
.info_04 { float:left; margin-left:30px; }
.info_05 { margin-top:30px; }

.info_06 {
  margin-top:30px;
  line-height: 70px;
  text-transform: uppercase;
}

.sns {
  float:left;
  width:15%; height:auto;
  margin-top:90px;
}
.sns ul { width:100%; height:50px; }
.sns li {
  float:left;
  width:50px; height:50px;
  margin-left:30px;
  background-repeat: no-repeat;  background-position:center;
  background-size : 100%;
}
.sns li > a { display:block; width:100%; height:100%; }

.insta { background-image: url("../../img/salady/instagram.png"); }

.facebook { background-image: url("../../img/salady/facebook.png"); }

.blog { background-image: url("../../img/salady/blog.png"); }